* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    line-height: 1.8;/*space between lines of the same paragraph*/
    font-family: "Lexend Deca", sans-serif;
}

.page-container {
      background-color: hsl(0, 0%, 95%);
}

.page {
  width: 375px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  border-radius: 5px;
}

.page section {
  padding:73px;
}

section p {
  color: hsla(0, 0%, 100%, 0.75);
}

section h1,
section img,
section p{
  margin-bottom: 20px;
}

section p {
  margin-bottom: 35px;
}

section h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display",sans-serif;
  font-weight: 700px;
}

a {
  display: block;
}

.button:link,
.button:visited {
  text-decoration: none;
  text-align: center;

  background-color: hsl(0, 0%, 95%);
  width: 130px;
  padding: 4px;
  border-radius: 30px;
}

.sedans .button {
  color: hsl(31, 77%, 52%);
}

.suvs .button{
  color: hsl(184, 100%, 22%);
}

.luxury .button {
  color: hsl(179, 100%, 13%);
}

.sedans{
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

/* button active */

.sedans .button:active,
.sedans .button:visited:active {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.suvs .button:active,
.suvs .button:visited:active {
  background-color: hsl(184, 100%, 22%);
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.luxury .button:active,
.luxury .button:visited:active {
  background-color: hsl(179, 100%, 13%);
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}


@media only screen and (min-width: 700px) {

  .page {
    flex-direction: row;
    width: 1125px;
    justify-content: center;
    margin: 50px auto;
}

  .page section {
    flex: 1;
  }

}
