* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 120vh;
    display: grid;
    grid-template-rows: 100px auto 100px;
    font-weight: bold;
    text-align: center;
    color: black;
}

/*header section*/
header {
    padding: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FCA8F3;
}

.logo>* {
    display: block;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 2rem;
    font-weight: 900;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*header nav*/
.nav {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 1rem;
}

.nav a:link,
.nav a:visited {
    text-decoration: none;
    color: black;
}

/*main section styles*/

main {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

main.home {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    background-image: url("./images/donuts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main.home::before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

/*footer styles*/

footer {
    padding: 10px 50px;
    background-color: #ddc2ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

button {
    letter-spacing: 2px;
    color: white;
    background-color: black;
    padding: 10px 15px;
    box-shadow: none;
}

footer .author {
    align-self: flex-end;
}